/* THE STYLES FOR THE MODAL, IMAGE */

.active{
	display:block;
	background-color:#222;
	z-index:999999999;
	border:5px solid #fff;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	cursor:default;
}

/* active class of the modal overlay */

.overlay-active{

	display:block;
	height:100%;
	width:100%;
	background-color:#000;
	margin:0px;
	padding:0px;
	position:fixed;
	top:0;
	left:0;
	opacity:0.99;
	filter:alpha(opacity=99);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	-khtml-opacity: 0.99;
	-moz-opacity:0.99;
	cursor:pointer;
}

.overlay, .modal-inactive,.overlay-active,.active{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
